In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path_data_2024 = r"D:\thomson\Desktop\Statistics\Data\2024_Detailed_Constituency_ Results.xlsx"

data_2024 = pd.read_excel(path_data_2024)
data_2024 = data_2024.iloc[1:]  
data_2024.columns = data_2024.iloc[0]

data_2024 = data_2024[1:].reset_index(drop=True)

In [3]:
data_2024.head()

1,ONS ID,ONS region ID,Constituency name,Region name,Country name,Constituency type,Member first name,Member surname,Member gender,Result,...,Green,SNP,PC,DUP,SF,SDLP,UUP,APNI,All other candidates,Of which other winner
0,W07000081,W92000004,Aberafan Maesteg,Wales,Wales,County,Stephen,Kinnock,Male,Lab hold,...,1094,0,4719,0,0,0,0,0,801,0
1,S14000060,S92000003,Aberdeen North,Scotland,Scotland,Burgh,Kirsty,Blackman,Female,SNP hold,...,1275,14533,0,0,0,0,0,0,1269,0
2,S14000061,S92000003,Aberdeen South,Scotland,Scotland,Burgh,Stephen,Flynn,Male,SNP hold,...,1609,15213,0,0,0,0,0,0,648,0
3,S14000062,S92000003,Aberdeenshire North and Moray East,Scotland,Scotland,County,Seamus,Logan,Male,SNP gain from Con,...,0,13455,0,0,0,0,0,0,0,0
4,S14000063,S92000003,Airdrie and Shotts,Scotland,Scotland,County,Kenneth,Stevenson,Male,Lab gain from SNP,...,0,11324,0,0,0,0,0,0,1079,0

In [4]:
columns = data_2024.columns
print(columns)

numeric_columns = ['Electorate', 'Valid votes', 'Invalid votes', 'Majority', 'Con', 'Lab', 'LD', 'RUK', 'Green', 'SNP', 'PC', 'DUP',
       'SF', 'SDLP', 'UUP', 'APNI', 'All other candidates',
       'Of which other winner']

data_2024[numeric_columns] = data_2024[numeric_columns].apply(pd.to_numeric, errors='coerce')
#data_2024

Index(['ONS ID', 'ONS region ID', 'Constituency name', 'Region name',
       'Country name', 'Constituency type', 'Member first name',
       'Member surname', 'Member gender', 'Result', 'First party',
       'Second party', 'Electorate', 'Valid votes', 'Invalid votes',
       'Majority', 'Con', 'Lab', 'LD', 'RUK', 'Green', 'SNP', 'PC', 'DUP',
       'SF', 'SDLP', 'UUP', 'APNI', 'All other candidates',
       'Of which other winner'],
      dtype='object', name=1)

In [5]:
# Winning party - 'First party'
# Second place - 'Second party'

#'ONS region ID'
#'ONS ID'

region_data_2024 = data_2024.groupby('ONS region ID')[numeric_columns].sum().reset_index()
region_data_2024

1,ONS region ID,Electorate,Valid votes,Invalid votes,Majority,Con,Lab,LD,RUK,Green,SNP,PC,DUP,SF,SDLP,UUP,APNI,All other candidates,Of which other winner
0,E12000001,1965068,1111540,3975,216922,224584,504569,65385,220875,66680,0,0,0,0,0,0,0,29447,0
1,E12000002,5450660,3092462,12457,721679,581099,1361196,242662,512115,217092,0,0,0,0,0,0,0,178298,35756
2,E12000003,3992294,2221947,10523,398457,506450,907767,158326,371658,167514,0,0,0,0,0,0,0,110232,15641
3,E12000004,3506894,2133661,7668,266296,626568,753723,136929,403470,133447,0,0,0,0,0,0,0,79524,14739
4,E12000005,4231742,2425857,9470,304296,669368,824433,214493,439278,159140,0,0,0,0,0,0,0,119145,13303
5,E12000006,4582311,2839319,11130,292414,869447,834896,375642,496237,195665,0,0,0,0,0,0,0,67432,0
6,E12000007,5704248,3333982,14915,805484,685082,1432622,367424,289459,335479,0,0,0,0,0,0,0,223916,24120
7,E12000008,6735447,4351416,17154,531768,1332755,1067897,951222,609281,299665,0,0,0,0,0,0,0,90596,0
8,E12000009,4293725,2785430,11868,348551,785672,682080,686921,384240,206780,0,0,0,0,0,0,0,39737,0
9,N92000002,1363961,779840,3962,133353,553,0,0,0,8692,0,0,172058,210891,86861,94779,117191,88815,32555
10,S92000003,4078303,2414810,8025,334533,307344,851897,234228,167979,92685,724758,0,0,0,0,0,0,35919,0
11,W92000004,2348540,1319076,5106,229704,240003,487636,85911,223018,61662,0,194811,0,0,0,0,0,26035,0

In [6]:
total_electorate = region_data_2024['Electorate'].sum()
total_electorate

np.int64(48253193)

In [11]:
reform_data_2024 = data_2024[data_2024['RUK'] >= (data_2024['Valid votes'] *0.1)]
reform_data_2024 = reform_data_2024.drop(['Constituency name','Region name','Constituency type','Member first name', 'Member surname', 'Member gender','Result'],axis='columns')
reform_data_2024

1,ONS ID,ONS region ID,Country name,First party,Second party,Electorate,Valid votes,Invalid votes,Majority,Con,...,Green,SNP,PC,DUP,SF,SDLP,UUP,APNI,All other candidates,Of which other winner
0,W07000081,W92000004,Wales,Lab,RUK,72580,35755,79,10354,2903,...,1094,0,4719,0,0,0,0,0,801,0
3,S14000062,S92000003,Scotland,SNP,Con,70058,38188,170,942,12513,...,0,13455,0,0,0,0,0,0,0,0
5,E14001063,E12000008,England,Lab,Con,78553,48544,179,5683,14081,...,2155,0,0,0,0,0,0,0,282,0
6,E14001064,E12000005,England,Con,Lab,70268,40912,156,4294,15901,...,1746,0,0,0,0,0,0,0,0,0
9,W07000082,W92000004,Wales,Lab,RUK,75790,43392,135,8794,7892,...,1926,0,1938,0,0,0,0,0,1575,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,E14001601,E12000005,England,Con,Lab,77329,45158,137,812,14489,...,2443,0,0,0,0,0,0,0,2058,0
645,E14001602,E12000002,England,Lab,RUK,77767,39132,142,14610,5392,...,4133,0,0,0,0,0,0,0,1040,0
646,E14001603,E12000009,England,LD,Con,79918,48952,109,12268,11497,...,2403,0,0,0,0,0,0,0,608,0
648,E14001604,E12000003,England,Lab,Con,79557,43323,228,19154,5383,...,5185,0,0,0,0,0,0,0,446,0
649,E14001605,E12000003,England,Lab,Con,76228,51106,184,9391,13770,...,2212,0,0,0,0,0,0,0,555,0